* {
    font-family: 'Cambria', serif;
    margin: 0;
}

.bgcolor {
    height: 300px;
}

.signUp {
    position: relative;
    margin-top: 200px;
    left: 15%;
}

.column1 {
    width: 50%;
    border: 1px solid  rgb(108, 127, 239);
    border-right: none;
    background-color: white;
}
.column2 {
    width: 50%;
    padding-right: 20px;
    border: 1px solid  rgb(108, 127, 239);
    border-left: none;
}
.formbtn{
    background-color:  #1d7ff0 ;
    font-size: large;
    color: white;
}
 .form-control,.form-select {
  border: 0;
  border-bottom: 1px solid rgb(120, 116, 116);
} 

.inputmargin{
    margin-top: -15px;
    margin-bottom:10px ;
}