<div class=" landingPage">
    <div class=" homeDetails d-flex justify-content-between">
        <div class="containar w-50">
            <h4 class="text-white">Helping small business to deliver their goods smart way. </h4>
            <p class="mb-4"> The fastest and mote reliable way to deliver goods to our customer and also keep
                track of
                their current location.</p>
            <p><a class=" link-underline link-underline-opacity-0 bg-white text-primary border px-5 py-2"
                    href="http://localhost:4200/dashboard">Get
                    Started</a></p>
        </div>
        <div>
            <img src="assets/courier.png" class="img-thumbnail currierImage" alt="My Image">
        </div>
    </div>
    <div class="container text-center mx-5">
        <h3 class="text-white ms-4 fw-bold">Why choose us</h3>
    </div>
</div>
<div class=" homeDetails2 d-flex justify-content-center pt-5">
    <div class="card me-3 pb-4" style="width: 18rem;">
        <img src="assets/onTimeDelivery.png" class="card-img-top py-4" style="width: 30%;position:relative; left:35%"
            alt="...">
        <div class="card-body text-center">
            <b>On-time delivery</b>
            <p class="card-text mt-3 px-4 text-secondary">
                We guarantee same day and next day delivery and across the country within
                72 hours</p>
        </div>
    </div>
    <div class="card me-3 pb-4" style="width: 18rem;">
        <img src="assets/login.png" alt="..." class="card-img-top py-4 mt-2"
            style="width: 26%;position:relative; left:39%">
        <div class="card-body text-center">
            <b>Secure and organize</b>
            <p class="card-text mt-3 px-3 text-secondary">Some quick example text to build on the card title and
                make up the bulk
                of the
                card's
                content.</p>
        </div>
    </div>
    <div class="card me-3 pb-4" style="width: 18rem;">
        <img src="assets/customer-review.png" class="card-img-top" class="card-img-top"
            style="width: 47%;position:relative; left:30%" alt="...">
        <div class="card-body text-center">
            <b>Excellent customer experience</b>
            <p class="card-text mt-3 px-2 text-secondary">Some quick example text to build on the card title and
                make up the bulk
                of the
                card's
                content.</p>
        </div>
    </div>
</div>


<div class="card py-5 aboutDiv mt-5">
    <div class="row g-0 ps-5">
        <div class="col-md-4">
            <img src="assets/transport.jpg" class="img-fluid" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body ps-5">
                <h5 class="card-title fst-italic text-primary mb-4 text-decoration-underline fw-bold">About us</h5>
                <p class="card-text w-75 mb-2">We're eager to be #1 in logistics. We're competitive and driven to win,
                    which
                    means we
                    don't settle for anything less than the best for ourselves, our customers and our shareholders.</p>
                <p class="card-text w-75 mb-4">Our leaders are at the top of their fields, with expertise across
                    operations and technology. We
                    prioritize safety, a customer-centric culture and operational excellence.
                    Meet our team.
                </p>
                <button class="btn btn-primary text-light px-3 py-2 fw-normal fs-6">LEARN MORE</button>
            </div>
        </div>
    </div>
</div>



<footer class="custom-footer ">
    <div class="container ">
        <p>&copy; 2024 TransportEase. All rights reserved.</p>
        <p>Contact us: info&#64;TransportEase.com | Phone: +1 234 567 890</p>
    </div>
</footer>